@import url('https://fonts.googleapis.com/css2?family=Karla&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather:wght@700&family=Quicksand&display=swap');

:root {
    --font-body-family: Karla, sans-serif;
    --font-heading-family: Merriweather, serif;
    --color-off-white: #faf9f8;
    --color-off-black: #222;
}

a:link {
    text-decoration: none;
    color: var(--color-off-black);
}

a:hover {
    text-decoration: underline;
    text-underline-offset: .3rem;
}

a:visited {
    color: var(--color-off-black)
}

button {
    cursor: pointer;
}

body {
    background-color: var(--color-off-white);
    color: var(--color-off-black);
    font-family: var(--font-body-family);
}

h1,h2,h3 {
    font-family: var(--font-heading-family);
}

h4 {
    font-family: var(--font-heading-family);
    margin: 10px auto -10px;
}

table {
    width: 100%;
    text-align: left;
}

th {
    height: 75px;
}

td {
    padding: 20px 0px;
}